/* *{
  background-image: url("../public/Sport_balls.png");
} */

.App {
  text-align: center;
  width: 100%;
}

.header {
  gap: 10px;
  padding: 10px;
  background-color: #658864;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.body-wrapper {
  position: absolute;
  overflow: hidden;
  margin-top: 100px;
}

.body {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
  width: 100%;
  background-color: #eeeeee;

  overflow: hidden;
}

.total-event {
  width: 50%;
}

.selected-event {
  width: 50%;
}

.vl {
  border-left: 6px solid green;
  height: 100%;
}

.cardList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px;
  margin: 10px;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 162px;
  /* border: 1px solid black; */
  /* box-shadow: 1px 1px 5px 5px #888888;; */
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-radius: 8px;
  gap: 10px;
  background-color: white;
}

.card > img {
  width: 45%;
}

.cardTitle {
  margin: 8px 25px;
}

.cardDescription {
  margin: 6px 0px;
}

.cardTime {
  margin: 6px 0px;
}

.alert-box {
  width: "30%%";
  position: "fixed";
  top: 20;
  right: 10;
}

.alert-box-conatiner {
  background-color: "#FDEDED";
  display: "flex";
  flex-direction: "row";
  gap: "10px";
  padding: "15px";
  border-radius: "8px";
}

.add-btn {
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid rgb(17, 57, 200);
  background-color: rgb(17, 57, 200);
  color: white;
  cursor: pointer;
}

.add-btn :hover {
  border: 1px solid black;
}

.disable-btn {
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid rgb(215, 218, 228);
  background-color: rgb(127, 134, 148);
  color: rgb(231, 224, 224);
  cursor: default;
}

.remove-btn {
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid rgb(128, 122, 122);
  background-color: rgba(201, 192, 192, 0.97);
  color: black;
  cursor: pointer;
}

.footer {
  gap: 10px;
  padding: 2px;
  background-color: #658864;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
